body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    display: flex;
    background-image: url('assets/Background.png');
    flex-direction: column;
    overflow: auto;
}
.translate-button {
    /* This button is now a container for the image */
    width: 480px; /* Estimated width of your image */
    height: 133px; /* Estimated height of your image */
    
    /* Set the image as the button's background */
    background-image: url('assets/TranslateButton.png');
    background-size: contain;       /* Ensure the image is fully visible */
    background-repeat: no-repeat;
    background-position: center;
    
    /* Remove default button styles that conflict with the image */
    background-color: transparent;  /* Ensure button color doesn't hide image */
    border: none;                   /* Remove border */
    box-shadow: none;               /* Remove box shadow */
    padding: 0;                     /* Remove default padding */
    
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.1s;
}



div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*title descirption edits*/

.title-desciption {
    padding-bottom: 30px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


/*input section edits*/
.input-section {
    padding-bottom: 30px;
}

.image-checker {
    padding: 20px;
}
/*output section edits*/

.output-section {
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.image-output {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-output img{
    max-width: 100%;
    height: auto;
    display: block;
}

.text-output {
    width: 300px;
    height: 50px;
    border: 2px solid black;
    background-color: grey;
    overflow: hidden;
}
