<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
        <script src="{{url_for('static', filename='javascript.js') }}" defer></script>
        <title>
            Sulat Baybayin
        </title>
    </head>
   <body class= "alphabetBody">
       <section>
        <button class="home-btn">
        <a href="{{url_for('index')}}"></a>
        </button>
        </section>
   
    <header class="alphabet-header">
        <h1> The Baybayin Script</h1>
    </header>
  

    <section>
        
    </section>
   </body>
</html>