<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        
        <title> Sulat Baybayin - Home></title>
    </head>
    <body>
        <section>
        <button class="home-btn">
        <a href="{{url_for('index')}}"></a>
        </button>
        </section>

        

       
        <header class="hero-section">
            <h1 class="title"> Sulat Baybayin</h1>
        </header>
        <div class="main-content">

            <a href="{{ url_for('translate') }}" class="cta-link">
                <button class="translate-button" id="translateButton">.</button>
            </a>
            <a href="{{ url_for('alphabet') }}">
            <button class="alphabetButton" id="alphabetButton">.</button>
            </a>.
            
        </div>
    </body>
</html>