<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <title> Sulat Baybayin - Home></title>
    </head>
    <body>
        <nav class="main-nav">
            <a href="{{ url_for ('index') }}"> Home</a>
            <a href="{{ url_for ('translate') }}"> translate</a>
            <a href="{{ url_for ('alphabet') }}"> alphabet</a>
        </nav>

        <header class="hero-section">
            <h1 class="title"> Sulat Baybayin</h1>
        </header>
        <div class="main-content">

            <a href="{{ url_for('translate') }}" class="cta-link">
                <button class="translate-button" id="translateButton"></button>
            </a>
            
            <p class="learn-more">
                Want to learn the script? View the full Baybayin alphabet <a href="{{ url_for('alphabet') }}">here</a>.
            </p>
        </div>
    </body>
</html>